


body{

  color: $dark-grey;

  font-size: 16px;

  @extend .roboto;

  @include mobile{ font-size: 14px}

}


h1{

  font-size: 30px;

  line-height: 1;

  font-family: $futura;

  color: $dark-grey;

  text-transform: uppercase;

  @include mobile{

    font-size: 24px;

  }

}

h2{

  font-size: 24px;

  line-height: 1;

  font-family: $futura;

  color: $dark-grey;

  text-transform: uppercase;

  @include mobile{

    font-size: 20px;

  }

}

h3{

  color: $dark-grey;

  font-family: $futura;

}


